<body class="page">
  <div class="row">
    <div class="col-md-1">
      <%= link_to "HOME", root_path %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
    </div>
  </div>
</body>

