<div class="row">
  <div class="col-md-1">
    <p><%= link_to "HOME", root_path %></p>
    <p><%= link_to 'EDIT', edit_page_path(@page) %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <%= @page.body.html_safe %>
  </div>
</div>



