<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center logo">
      <h1>Scrive</h1>
      <p>Write, clutter free.</p>
      <button type="button" class="btn btn-default">Sign up</button>
    </div>
  </div>
</div>