<div class="row" id="login">
  <div class="col-md-1 col-md-offset-11">
    <p><%= link_to "LOGIN", new_user_session_path %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center logo">
      <h1>Scrive</h1>
      <p>Write, clutter free.</p>
      <%= link_to "Sign up", new_subscribe_path, class: "btn btn-default" %>
    </div>
  </div>
</div>